@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




/* Ripple animation */
@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.35s ease-out forwards;
}

.glow-active {
  box-shadow: 0 0 10px #A66A3A, 0 0 18px #A66A3Abb;
}

@keyframes kenburns {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}
.animate-kenburns {
  animation: kenburns 22s ease-out infinite alternate;
}
